@font-face {
  font-family: "Alegreya X Sans SC";
  src: url("fonts/AlegreyaXSansSC-Bold.woff2") format("woff2"),
    url("fonts/AlegreyaXSansSC-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gentium Incantation";
  src: url("fonts/GentiumIncantation-Regular.woff2") format("woff2"),
    url("fonts/GentiumIncantation-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gentium Incantation";
  src: url("fonts/GentiumIncantation-Italic.woff2") format("woff2"),
    url("fonts/GentiumIncantation-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-X-Medium.woff2") format("woff2"),
    url("fonts/Ubuntu-X-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-L.woff2") format("woff2"),
    url("fonts/Ubuntu-L.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0 auto;
  max-width: 30.4em;
  padding: 1em;
  font-family: "Gentium Incantation";
  font-size: 20px;
}

chant {
  display: block;
}

chant h1,
chant h2,
chant h3,
chant h4,
chant h5,
chant h6 {
  font-family: "Ubuntu";
  letter-spacing: 0.01em;
}

chant h1 {
  margin: 1em 0;
  font-size: 1.6em;
  font-weight: 300;
}

chant h2 {
  margin: 1em 0;
  padding-bottom: 0.1em;
  font-size: 1.4em;
  font-weight: 500;
  border-bottom: 1px solid #aaa;
}

chant h3 {
  margin: 1em 0 0.25em;
  font-size: 1.1em;
  font-weight: 500;
}

chant h4 {
  margin: 1em 0 0.25em;
  font-size: 1em;
  font-weight: 500;
}

chant group,
chant group verse {
  display: block;
}

chant group {
  margin: 0.75em 0;
}

chant verse {
  line-height: 1.8em;
}

chant[mixed] group[en],
chant[mixed] group verse[en] {
  margin-left: 1.8em;
  font-style: italic;
}

chant group[leader],
chant group verse[leader] {
  margin-left: 1.8em;
  margin-right: 1.8em;
}

chant grid {
  display: table;
  margin: 1em 0;
}

chant grid[center] {
  margin-left: auto;
  margin-right: auto;
}

chant grid row {
  display: table-row;
}

chant grid row:not(:last-child) verse {
  padding-bottom: 0.5em;
}

chant grid verse {
  display: table-cell;
}

chant grid verse:not(:last-child) {
  padding-right: 1em;
}

chant grid verse[en] {
  font-style: italic;
}

chant u {
  display: inline-block;
}

chant aside {
  margin-top: 1em;
  margin-left: 2.6em;
  margin-right: 1.8em;
  font-family: "Alegreya X Sans SC";
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  color: #888;
  text-indent: -0.6em;
}

chant aside[center] {
  margin-left: 1.8em;
  text-align: center;
}

chant aside[right] {
  margin-right: 0;
  text-align: right;
}

chant aside:before {
  content: "[ ";
}

chant aside:after {
  content: " ]";
}

chant[raw] table {
  margin: 0 auto;
}

chant[raw] table td:not(:last-child) {
  padding-right: 0.1em;
}

chant[raw] dt {
  font-weight: bold;
}

body.chant-onefile h2,
body.chant-onefile h3,
body.chant-onefile h4,
body.chant-onefile h5,
body.chant-onefile h6 {
  font-family: "Ubuntu";
  letter-spacing: 0.01em;
}

body.chant-onefile h1 {
  text-align: center;
  padding: 1em;
  margin: 2em 0 1em;
  font-size: 1.7em;
  background-color: #ddd;
}

body.chant-onefile h2 {
  margin: 1em 0;
  font-size: 1.6em;
  font-weight: 300;
}

body.chant-onefile h3 {
  margin: 1em 0;
  padding-bottom: 0.1em;
  font-size: 1.4em;
  font-weight: 500;
  border-bottom: 1px solid #aaa;
}

body.chant-onefile h4 {
  margin: 1em 0 0.25em;
  font-size: 1.1em;
  font-weight: 500;
}

body.chant-onefile h5 {
  margin: 1em 0 0.25em;
  font-size: 1em;
  font-weight: 500;
}

.copyright {
  margin: 4em 0;
  color: grey;
  text-align: center;
}
